.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Optional: apply the same fix to spans just in case you use them */
span {
  text-decoration: none !important;
  -webkit-text-decoration: none !important;
}

/* Logo animation */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }


}




/* Prevent iOS Safari from auto-linking phone numbers and emails */
a[href^="mailto"], a[href^="tel"], p {
  text-decoration: none !important;
  border: none !important;
  -webkit-text-decoration: none !important;
  
}
